:root {
	--main-bg: #fff;
	--second-bg: #fafafb;
	--txt-color: #455560;
	--txt-white: #fff;
	--main-color: #349eff;
	--second-color: #62b4ff;
	--box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;

	--sidebar-width: 300px;
	--border-radius: 15px;
	--topnav-height: 110px;
	--transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}